<div class="container">
    <div class="row">
      <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
    </div>
    
    
    <%= form_with model:@customer, url: admin_customer_path, method: :PATCH, local:true do |f| %>
    <div class="col">
        
       
       <%= render "layouts/error_message", model: f.object %>
       
    </div>
    <div class="form-group row">
        <div class="col-md-3">会員ID</div>
        <div class="col-md-2"><%= @customer.id %></div>
    </div>
    <div class="form-group row">
        <%= f.label :氏名,>
        
       
    