<div class="row">
  <div class="col m-3">
      <h3>注文履歴詳細</h3>
      <div class="row">
          <div class="col-7 mt-4">
        <h5>注文情報</h5>
    <table class="table table-borderless table-white" style="opacity: 0.8;">
      <tbody>
        <tr>
         <td>注文日</td>
         <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
         <td>配送先</td>        
         <td>〒<%= @order.postal_code %><br>
               <%= @order.address %><br>
               <%= @order.name %>
         </td>
        </tr>
        <tr>
         <td>支払方法</td>
         <td><%= @order.paying_method_i18n %></td>
        </tr>
        <tr>
         <td>ステータス</td>
         <td><%= @order.order_status_i18n %></td>
        </tr>
      </tbody>
    </table>
    </div>
    
    
    <div class="col-4 mt-4">
      <h5 class="mt-6"><strong>請求情報</strong></5>
      <table class="table table-borderless table-white" style="opacity: 0.8;">
           <tr>
              <td width= "200">商品</td>
              <td width= "200">単価(税込)</td>
              <td width= "200">個数</td>
              <td width= "200">小計</td>
           </tr>
        <% @order.order_items.each do |order_item| %>
           <tr>
              <td><%= order_item.ietm.name %></td>
              <td><%= order_item.item.with_tax_price.to_s(:delimited) %>円</td>
              <td><%= order_item.order_amount %></td>
              <td><%= order_item.subtotal.to_s(:delimited) %></td>
           </tr>
        <% end %>
      </table>
    </div>
  </div>
  </div>
  </div>
    
    
    
               
               
               
               
               
               
         
         
         
         
         
         
         
         