<%= render 'genre', genres:@genres %>
<div class="container px-5 px-sm-0">
    <div class="row"
        <div class="col-10">
         <h2>商品一覧</h2>
         <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cola-md-4 row-eq-height">
              <% @items.each do |item| %>     
               <div class="col">
                  <div class="card mx-auto mt-4 bg-white text-dark">
                      <%= link_to public_item_path(item) do %>
                       <%= image_tag @item.image, size: "80x80" %>   
                      <% end %>
                      <div class="card-body">
                          <div class= "card-title">
                            <%= link_to item.name, public_item_path(item), class:"text-black" %>
                          </div>
                          <div class="card-text">
                              <%= (item.with_tax_price).to_s(:delimted) + "円" %>
                          </div>
                      </div>
                  </div>
               </div>
              <% end %>
            </div>
         </div>
         </div>
        </div>
    </div>    

